/**
* index.css
* @author Alejandro De Jesús
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.index {
    display: flex;
    width: fit-content;
    background-color: red;
}

#canvas {
    border: 0.1rem solid black;
    background-color: black;
}